/* Logo in der Navbar */
.navbar-brand img {
  width: 100px; /* Breite des Logos für Desktop */
  height: auto; /* Automatische Höhe beibehalten */
}

/* Responsive Logo für Mobilgeräte */
@media (max-width: 768px) {
  .navbar-brand img {
    width: 80px; /* Breite des Logos für Mobilgeräte */
    height: auto; /* Automatische Höhe beibehalten */
  }
}

/* Textfarbe der Links in der Navbar */
.nav-link {
  color: rgb(0, 0, 0); /* Setzt die Textfarbe */
  font-size: 16px; /* Schriftgröße anpassen */
}

/* Hover-Effekte für Links */
.nav-link:hover {
  color: #ffc107; /* Farbe beim Hover */
  text-decoration: underline; /* Unterstreichung beim Hover */
}

/* Stil für horizontale Linien */
hr {
  border: none; /* Entfernt die Standardlinie */
  border-top: 2px solid #007bff; /* Benutzerdefinierte Linie */
  width: 50%; /* Breite der Linie */
  margin: 20px auto; /* Zentriert die Linie */
}

/* Stil für Input-Gruppen */
.input-group-text {
  background-color: #007bff; /* Hintergrundfarbe für das Icon */
  color: white; /* Textfarbe für das Icon */
}

/* Abstand zwischen Icon und Text in Buttons */
.btn i {
  margin-right: 5px; /* Abstand */
}

/* Footer Links */
footer a {
  text-decoration: none; /* Entfernt den Unterstrich */
}

/* Stil für Kontakt-Links */
.contact-info a {
  color: inherit; /* Erbt die Textfarbe */
  text-decoration: none; /* Entfernt die Unterstreichung */
}

/* Hover-Effekte für Kontakt-Links */
.contact-info a:hover {
  color: #007bff; /* Farbe beim Hover */
  text-decoration: underline; /* Unterstreichung beim Hover */
}

/* Hintergrund für spezifische Abschnitte */
#registracija,
#thank-you,
#kontakt {
  background: linear-gradient(
    165deg,
    #df6161,
    #ffffff
  ); /* Gradient-Hintergrund */
}

/* Stile für die Hauptabschnitte */
#pocetna,
#o-nama {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

/* Textstile für Pocetna Abschnitt */
#pocetna h1,
#pocetna p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Textschatten */
}

/* Stil für den O-Nama Abschnitt */
#o-nama {
  background-image: url("./img/pexels-mcraftpix-21014.jpg"); /* Hintergrundbild */
  background-size: cover; /* Bildabdeckung */
  background-position: center; /* Bildzentrierung */
  color: white; /* Textfarbe */
  position: relative; /* Für das Pseudoelement */
}

/* Pseudoelement für O-Nama Hintergrund */
#o-nama::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    0,
    0,
    0,
    0.3
  ); /* Halbtransparenter schwarzer Hintergrund */
  z-index: 1; /* Hinter den Text stellen */
}

/* Container Stile für O-Nama */
#o-nama .container {
  position: relative; /* Text über das Pseudoelement legen */
  z-index: 2; /* Vor dem Hintergrund stehen */
}

/* Textstile für O-Nama */
#o-nama h2,
#o-nama p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Fügt einen Schatten hinzu */
}
